@{
  Layout = "_Layout";
}

@model AnimalShelter.Models.Animal

<h2>Animal Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Type): @Html.DisplayFor(model => model.Type)</h3>
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h3>@Html.DisplayNameFor(model => model.Breed): @Html.DisplayFor(model => model.Breed)</h3>
<h3>@Html.DisplayNameFor(model => model.Date_Of_Admittance): @Html.DisplayFor(model => model.Date_Of_Admittance)</h3>
@* <p>@Html.ActionLink("Back to animals", "Index")</p> *@